<div class="container 2xl:max-w-[1650px]">
  <h1>Typography </h1>
  <div class="row">
    <div class="col w-full 2xl:w-1/4">
      <h2 class="mt-30">Desktop: >992px</h2>
      <div class="js-typography">
        <h1>Headline</h1>
        <h2>Headline</h2>
        <h3>Headline <a href="#">this is link</a></h3>
        <h4>Headline</h4>
        <h5>Headline</h5>
        <h6>Headline</h6>

        <ul>
          <li>
            provide specific training a certifications to tower
            <a href="#">climbers and maners in the field</a>
          </li>
          <li>
            provide specific training and certifications to tower climbers and
            managers in the field
          </li>
        </ul>
        <ol>
          <li>
            provide specific training and certifications to tower
            <a href="#">climbers and managers in the field</a>
          </li>
          <li>
            provide specific training and certifications to tower climbers and
            managers
          </li>
        </ol>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been
        </p>
      </div>
    </div>
    <div class="col w-full 2xl:w-2/4">
      <h2 class="mt-30">Tablet: >768px and &lt;992px</h2>
      <iframe src="typography-tablet-mobile.html" class="w-[768px] h-[900px]  mb-20"
        title="Typography On Tablet"></iframe>
    </div>
    <div class="col w-full 2xl:w-1/4">
      <h2 class="mt-30">Mobile: &lt;768px</h2>
      <iframe src="typography-tablet-mobile.html" class="w-[414px] h-[1000px] mb-20"
        title="Typography On Mobile"></iframe>
    </div>
  </div>
</div>
<div class="container ">

  <h2 class="mt-20">Theme colors default</h2>

  <ol id="js-color2" class="pl-0 md:columns-3 columns-2 gap-30"></ol>
  <h2>Colors and count color use in app.css</h2>
  <ol id="js-color" class="pl-0 md:columns-3 columns-2 gap-30"></ol>
  <div class="color-no-variable">
    <h2>Colors not set variable in app.css</h2>
    <ol id="js-color-no-variable" class="md:columns-3 columns-2 gap-30"></ol>
  </div>
  <div class="h-10"></div>
  <h2>Containers:</h2>
</div>
<div class="container">
  <div class="py-50 text-center bg-black text-white">
    <div>Class .container </div>
  </div>
</div>
<div class="h-10"></div>
<div class="container option-v2">
  <div class="py-50 text-center bg-black text-white">
    <div>Class .container.option-v2 </div>
  </div>
</div>
<div class="container ">
  <p>
    <img src="{{imagesBase64}}" data-src="assets/images/ajax-loader.svg" alt="load icon" class="lazy img-svg" />
  </p>
  <div class="p-10 text-white bg-primary-300 mb-3 text-inherit-child">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five
      centuries
    </p>
    <h2 class="h1">Headline h1</h2>
    <h2>Headline h2</h2>
    <h3>Headline h3 <a href="#">this is link</a></h3>
    <h4>Headline h4</h4>
    <h5>Headline h5</h5>
    <h6>Headline h6</h6>
    <p>
      <a href="#" class="no-underline btn btn-light">Default Large CTA</a>
    </p>
    <p>
      <a href="#" class="no-underline btn btn-outline-light">Default Large CTA</a>
    </p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five
      centuries
    </p>
    <ul>
      <li>
        provide specific training and certifications to tower
        <a href="#">climbers and managers in the field</a>
      </li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
    </ul>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five
      centuries
    </p>
    <ol>
      <li>
        provide specific training and certifications to tower
        <a href="#">climbers and managers in the field</a>
      </li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
      <li>
        provide specific training and certifications to tower climbers and
        managers in the field
      </li>
    </ol>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only five
      centuries
    </p>
  </div>
</div>