.accordion-trigger {
  &.js-expand {
    @apply mb-5;

    .accordion-toggle-icon {
      transform: rotate(180deg);
    }
  }
}

.accordion-trigger,
.accordion-toggle-icon {
  transition: all 0.25s ease;
}

.accordion-trigger:focus:not(.mouse) {
  outline-offset: 1px;
  @apply outline-primary-200 rounded-sm;
}
